.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  overflow-wrap: break-word;
}

form {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type=text] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type=submit] {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #3e8e41;
}

.results {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: left;
  align-items: list-item;
}